<% if current_user.recipes.find_by(id: recipe.id) %>
  <h3><%= link_to recipe.title, recipe_path(recipe) %> <%= image_tag "saved.png", alt: "Saved" %></h3>
<% else %>
  <h3><%= link_to recipe.title, recipe_path(recipe) %></h3>
<% end %>
<ul>
  <% recipe.ingredients.all.each do |ingredient| %>
    <li>
      <%= ingredient.name %>, <%= recipe.recipe_ingredients.find_by(ingredient_id: ingredient.id).quantity %>
    </li>
  <% end %>
</ul><br />
<%= simple_format recipe.directions %>

<% if current_user.recipes.find_by(id: recipe.id) == nil %>
  <%= link_to "Save Recipe", edit_user_recipe_path(current_user, recipe) %>
<% else %>
  <%= link_to "Unsave Recipe", edit_user_recipe_path(current_user, recipe) %>
<% end %>
