<%= form_for @recipe do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@recipe.errors.count, "error") %> prohibited
        this recipe from being saved:
      </h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label "Title:" %><br />
  <%= f.text_field :title %><br />
  <%= f.label "Directions" %><br />
  <%= f.text_area :directions, size: "40x15" %><br />
  <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %><br />
  <% 5.times do %>
    <%= f.fields_for :ingredients, @recipe.ingredients.build do |ingredients_fields| %>
      <%= ingredients_fields.label "New Ingredient:" %><br />
      <%= ingredients_fields.text_field :name %><br />
    <% end %>
  <% end %>
  <%= f.submit "Create Recipe" %>
<% end %>
