<%= form_for @recipe do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@recipe.errors.count, "error") %> prohibited
        this recipe from being saved:
      </h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label "Title:" %><br />
  <%= f.text_field :title %><br />
  <%= f.label "Directions" %><br />
  <%= f.text_area :directions, size: "40x15" %><br />
  <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %><br />
  <% for ingredient in @recipe.ingredients %>
    <%= fields_for "recipe[ingredients][][]", ingredient do |ingredient_form| %>
      <p>
        New Ingredient: <%= ingredient_form.text_field :name %>
      </p>
    <% end %>
  <% end %>
  <%= f.submit "Create Recipe" %>
<% end %>
